@model IEnumerable<IdentityRole>

@{
    ViewBag.Title = "All Roles";
}

<h1 class="mb-4">All Roles</h1>

@if (Model.Any())
{
    <a class="btn btn-primary mb-3 w-auto" asp-action="CreateRole" asp-controller="administration">
        Add New Role
    </a>

    @foreach (var role in Model)
    {
        <div class="card mb-3">
            <div class="card-header">
                <strong>Role ID:</strong> @role.Id
            </div>
            <div class="card-body">
                <h5 class="card-title">@role.Name</h5>
            </div>
            <div class="card-footer d-flex gap-2">
                
                <a class="btn btn-outline-primary"  asp-controller="Administration" asp-action="EditRole"
                   asp-route-id="@role.Id" > Edit
                </a>
                <a href="#" class="btn btn-outline-danger">Delete</a>
            </div>
        </div>
    }
}
else
{
    <div class="card">
        <div class="card-header">
            No roles created yet
        </div>
        <div class="card-body">
            <h5 class="card-title mb-3">
                Use the button below to create a role
            </h5>
            <a class="btn btn-primary" asp-controller="administration" asp-action="CreateRole">
                Create Role
            </a>
        </div>
    </div>
}

